<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
    <listeners>
        <listener class-name="org.testng.reporters.EmailableReporter"></listener>
        <listener class-name="org.testng.reporters.EmailableReporter2"></listener>
        <listener class-name="org.testng.reporters.JUnitXMLReporter"></listener>
    </listeners>

    <test name="Project17">
        <parameter name="Repname" value="*#@%/" />
        <parameter name="Repsurname" value="125436" />
        <parameter name="Repmobil" value="abcdef" />

        <classes>
            <class name="Proje17.Proje17"></class>
        </classes>
    </test>

</suite>